{% extends 'base.html' %}

{% block title %}Recipe Update{% endblock %}

{% block content %}
<form method="post">
  {% csrf_token %}
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Title</label>
      {{form.title}}
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail2" class="form-label">Is_activate</label>
      {{form.is_activate}}
  </div>
  <div class="mb-3 form-check">
    <label class="form-check-label" for="exampleCheck1">Tags</label>
    {{ form.tag }}
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}